# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# direnv
.envrc

# IDE Setting Files
.idea

# output go build
portfolio-backend
tmp

# realize Setting Files
.realize.yaml

# goenv Setting Files
.go-version
