[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_0900_bin

# デフォルト認証プラグイン
default-authentication-plugin=mysql_native_password

# タイムゾーン
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# エラーログ
log-error = /var/log/mysql/error.log

# クエリログ
general_log = 1
general_log_file = /var/log/mysql/query.log

# スロークエリログ
slow_query_log = 1
long_query_time = 0.1
slow_query_log_file = /var/log/mysql/slow.log

# LOAD DATA LOCAL INFILEを実行する為に必要な設定
local-infile = 1

[mysql]
default-character-set = utf8mb4

[client]
default-character-set=utf8mb4
# LOAD DATA LOCAL INFILEを実行する為に必要な設定
loose-local-infile = 1

[mysqldump]
default-character-set = utf8mb4
